* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@font-face {
// название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
font-family: "Gilroy"; 
// адрес шрифта и тип 
src: url(../fonts/Gilroy-BlackItalic.ttf); 
font-style: normal; 
font-weight: normal; 
} 
.routers{
    display: flex;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.SignForm{
  margin:  0 auto;
}
.MainView{
  text-align: center;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.SignInputs{
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}
.StyleInput{
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: transparent;
  border: 2px solid black;
  width: 438px;
  height: 56px;
  margin: 1rem;
}
.Continue{
  border-color: transparent;
  border-radius: 10px;
  background-color: blue;
  color: white;
  width: 438px;
  height: 56px;
  margin: 1rem;
}
.Wallets{
  border:solid black 2px;
  border-radius: 10px;
  padding: 0.9em 1em;
  width: 438px;
  height: 56px;
  margin: 1rem;
}

.Header {
    width: 100%;
    height: 70px;
    background: #F0F0F0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-self: start;
    justify-content: space-between;
    padding: 0 180px;

}

.main{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: fit-content;
}

.HeaderLeft,
.HeaderRight {
    display: flex;
    align-items: center;
    gap: 21px;
}
.MainLinks{
  text-decoration: none;
  color: #A4508B;
}

  

.home {
    width: 100%;
    padding: 0 180px;
    height: fit-content;
    
  }
    .home-title {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 59px;
        margin-top: 44px;
        color: #000000;
    }

    .home-email {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #0047FF;
        margin: 11px 0 74px 0;
    }
.Link{
  margin-top: 100px;
}
.LogOut{
  cursor: pointer;
}
  .Vallet{
    padding: 0 180px;
  }

.FlexBox{
  padding: 0 150px;
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 25px 0;
}
.MyCards{
  margin: 20px 0 25px 0;
  color: blue;
}
.My{
    font-size: 45px;
}
.item{
  width: 282px;
  height: 160px;
  padding: 1em;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: .3s ease-in;
  cursor: pointer;
  // animation: mymove 5s infinite;
}
.item:hover{
      transform:scale(0.9);
}
.MoreCard{
  text-decoration: none;
  color: #0047FF;
}
.MoreTransactions{
  color: #0047FF;
  text-decoration: none;
}
.Routers{
  font-size: 25px;
  text-decoration: none;
  color: #0047FF;
  // margin: 5em ;
}
.Route{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

// @keyframes mymove {
//     50% {box-shadow: 10px 20px 30px blueviolet;}
// }
.item:nth-child(1){
  background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
}
.item:nth-child(1):hover{
   box-shadow: 0 0 0 4px white, 0 0 0 8px #D7816A ;
}
.item:nth-child(2):hover{
    box-shadow: 282px 0 0 0 rgba(0,0,0,.3) inset;
}
.item:nth-child(3):hover{
    box-shadow: 0 0 0 4px #20BF55 inset, 0 0 0 8px white inset;
}
.item:nth-child(4):hover{
    box-shadow: 4px 4px white, 8px 8px #380036;
    top: -4px;
    left: -4px;
}
.item:nth-child(5):hover{
   box-shadow: 0 0 0 4px white, 0 0 0 8px #D7816A ;
}
.item:nth-child(6):hover{
    box-shadow: 282px 0 0 0 rgba(0, 0, 0, 0.438) inset;
}
.item:nth-child(7):hover{
    box-shadow: 0 0 0 4px #20BF55 inset, 0 0 0 8px white inset;
}
.item:nth-child(2){
  background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}
.item:nth-child(3){
background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}
.item:nth-child(4){
background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
}
.item:nth-child(5){
    margin-top: 20px;
  background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
}
.item:nth-child(6){
    margin-top: 20px;
  background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}
.item:nth-child(7){
    margin-top: 20px;
background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}
.GridBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.MoreCard{
  padding: 0 180px;
}
.Footer{
  padding: 0 180px;
  margin: 70px 0 25px 0;

}
.FlexTextBlock{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  h3{
    color:  #B9C0D1;

  }
}
.FlexInfo{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  p{
    text-align: start;
  }
  margin: 20px 0 15px 0;
}
.MoreTransactions{
  padding: 0 180px;
}
.LinkStyle{
    width: 438px;
    height: 56px;
    margin-top: 40px;
    border-radius: 15px;
    border-color: transparent;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    .AddBtn{
      margin-top: 15px;
      color: white;
      text-decoration: none;
    }
}