* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

$stack_color: #0047FF;
.Forms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form {
        display: flex;
        flex-direction: column;
        width: 438px;
        text-align: center;
        input {
            margin: 8px 0;
            border: 2px solid black;
            border-radius: 10px;
            padding: 20px 25px;
            &::placeholder {
                opacity: 1;
                font-weight: 600;
                text-transform: capitalize;
                color: black;
            }
        }
        button {
            background-color: $stack_color;
            border-radius: 10px;
            height: 56px;
            color: white;
            border: none;
        }
    }
    .switch {
        font-size: 16px;
        font-weight: 700;
        color: $stack_color;
        text-decoration: none;
        margin-top: 32px;
    }
}