<template>
   <div class="Transactions">
    <div class="Container">
      <div class="MainView">
        <h1>Добавить Кошелек</h1>
        <div class="SignInputs">
          <input class="StyleInput" type="text" placeholder="Имя" />
          <div class="Selects">
            <select class="Wallets" name="AddWallets">
              <option>Валюта</option>
              <option  value="RUB">Рубль</option>
              <option  value="UZS">Узбекский Сумм</option>
              <option  value="USD">Американский Доллар</option>
            </select>
          </div>
          <button class="Continue">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
methods: {
    ...mapActions(['CHECK_ME'])
  },
  created() {
    this.CHECK_ME()
  }
}
</script>
