<template>
	<div class="Forms">
		<form @submit="REGISTER()">
			<h1>Регистрация</h1>
			<input type="text" placeholder="Email" name="email"/>
			<input type="text" placeholder="Name" name="name"/>
			<input type="text" placeholder="SecondName" name="secondName"/>
			<input type="text" placeholder="Password" name="password"/>
			<button type="submit">Продолжить</button>
			<router-link to="/login" class="switch">Войти</router-link>
		</form>
	</div>
</template>

<script>
import { mapActions } from "vuex"

export default {
	methods: {
		...mapActions(["REGISTER"]),
	},
};
</script>

<style>
</style>