<template>
  <div class="main">
    <Header />
    <div class="home">
      <p class="home-title">
        Добро пожаловать, {{ User.name }} {{ User.secondName }}!
      </p>
      <p class="home-email">{{ User.email }}</p>
    </div>
    <div class="Container">
      <div class="MainBlock">
        <h1 class="Vallet">Мои Кошельки</h1>
        <div class="FlexBox">
          <div class="item">
            <h1>Visa</h1>
            <p>RUB</p>
          </div>
          <div class="item">
            <h1>Visa</h1>
            <p>RUB</p>
          </div>
          <div class="item">
            <h1>Visa</h1>
            <p>RUB</p>
          </div>
          <div class="item">
            <h1>Visa</h1>
            <p>RUB</p>
          </div>
        </div>
        <router-link class="MoreCard" to="/morecard"
          >Смотреть все кошельки</router-link
        >
      </div>
    </div>
    <div class="Footer">
      <h1>Последние Транзакции</h1>
      <div class="FlexTextBlock">
        <h3>ID</h3>
        <h3>Отправлено с кошелька</h3>
        <h3>Категория</h3>
        <h3>Сумма Транзакции</h3>
        <h3>Когда</h3>
      </div>
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
    </div>
    <router-link class="MoreTransactions" to="/moretransactions"
      >Смотреть все Транзакции</router-link
    >
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Header,
  },

  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  computed: {
    ...mapGetters(["User"]),
  },
  created() {
    this.CHECK_ME();
  },
};
</script>

<style>
</style>