<template>
  <div class="Login">
    <div class="Container">
      <div class="MainView">
        <h1>Войти в аккаунт</h1>
        <div class="SignInputs">
          <form @submit="LOG_IN()">
            <input
              class="StyleInput"
              type="text"
              name="email"
              placeholder="Почта"
            />
            <input
              class="StyleInput"
              type="text"
              name="password"
              placeholder="Пароль"
            />
            <button class="Continue">Продолжить</button>
            <router-link to="/enter">SignUp</router-link>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Login",
  methods: {
    ...mapActions(["LOG_IN"]),
  },
};
</script>
