<template>
  <div>
    <Header />
    <div class="Footer">
      <h1 class="My">Мои Транзакции</h1>
      <p class="MyCards">{{User.email}}</p>
      <div class="FlexTextBlock">
        <h3>ID</h3>
        <h3>Отправлено с кошелька</h3>
        <h3>Категория</h3>
        <h3>Сумма Транзакции</h3>
        <h3>Когда</h3>
      </div>
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
      <div class="FlexInfo">
        <h4>1232312</h4>
        <h4>VISA</h4>
        <h4>Автомобиль</h4>
        <h4>414,000,000</h4>
        <h4>4 дня назад</h4>
      </div>
      <hr />
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "MoreTransactions",
  components: {
    Header,
  },
  methods: {
    ...mapActions(["CHECK_ME"]),
  },
  computed: {
    ...mapGetters(["User"]),
  },
  created() {
    this.CHECK_ME();
  },
};
</script>
