<template>
  <div>
      <Header />
      <div class="Footer">
      <h1 class="My">Мои кошельки</h1>
        <p class="MyCards">{{User.email}}</p>
        <div class="MainBlock">
          <div class="GridBox">
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
            <div class="item">
              <h1>Visa</h1>
              <p>RUB</p>
            </div>
          </div>
          <div class="LinkStyle">
           <router-link to="/addwallet" class="AddBtn">Добавить</router-link>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import { mapActions, mapGetters } from 'vuex'


export default {
  name: "MoreCard",
  components: {
    Header,
  },
  methods: {
    ...mapActions(['CHECK_ME'])
  },
    computed:{
    ...mapGetters(["User"])
  },
  created() {
    this.CHECK_ME()
  }
};
</script>
