<template>
  <div class="Transactions">
    <div class="Container">
      <div class="MainView">
        <h1>Добавить Транзакцию</h1>
        <div class="SignInputs">
          <select class="Wallets" name="Wallets">
            <option value="Visa">Кошельки</option>
            <option value="Visa">Visa </option>
          </select>
          <input class="StyleInput" type="text" placeholder="Сумма" />
          <div class="Selects">
            <select class="Wallets" name="AddWallets">
              <option  value="Categorias">Категории</option>
              <option  value="Cars">Автомобиль</option>
              <option  value="Phones">Телефон</option>
            </select>
          </div>
          <button class="Continue">Добавить</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default{
    name: "Transactions",
    methods: {
    ...mapActions(['CHECK_ME'])
  },
  created() {
    this.CHECK_ME()
  }
}
</script>
