<template>
 <div class="Header">
        <div class="HeaderLeft">
            <router-link to="/" class="MainLinks">Главная</router-link>
            <router-link to="/morecard" class="MainLinks">Мои кошельки</router-link>
            <router-link to="/moretransactions" class="MainLinks">Мои транзакции</router-link>
        </div>
        <div class="HeaderRight">
            <p class="HeaderTitle">{{User.email}}</p>
            <p @click="LOG_OUT()" class="LogOut"><img src="../../public/quit.png" alt=""></p>
        </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
name:"Header",
 methods: {
    ...mapActions(['LOG_OUT'])
  },
    computed:{
    ...mapGetters(["User"])
  },
}
</script>

<style>

</style>