<template>
  <div class="SearchUser">
    <input @keyup="InputSearch()" type="text" class="MainInput" v-model="ForSearch" placeholder="Let's Search" />
    <button class="BtnHover" @click="ClearField()">Clear</button>
    <button class="BtnHover" @click="OpenAdd()">Create</button>
    
  </div>
</template>

<script>
export default {
  data(){
    return{
      ForSearch : "",
    }
  },
  methods: {
    OpenAdd: function () {
      this.$root.$emit("Open", true);
    },
    ClearField: function () {
      this.ForSearch = "";
      this.$emit("InputSearch", this.ForSearch);
    },
    InputSearch: function () {
      this.$emit("InputSearch", this.ForSearch);
    },
  },
};
</script>
