<template>
  <div id="app">
    <div id="nav" class="Route">
      <router-link class="Routers" to="/">Home</router-link> 
      <router-link class="Routers" to="/Enter">Enter</router-link> 
      <!-- <router class="Routers"-link to="/">Register</router-link> | -->
      <router-link class="Routers" to="/transaction">Transaction</router-link> 
      <router-link class="Routers" to="/addwallet">Add Wallet</router-link> 
    </div>
    <router-view />
  </div>
</template>


<script>
import "../css/style.css";
export default {
  };
</script>
<style scoped>
#nav a.router-link-exact-active {
  color: #ffc700;
}
</style>


